# 4. pandas und matplotlib

### Da wir nun die beiden Bibliotheken importiert haben, können wir mit ihnen arbeiten. Mit **pandas** kann man Daten in eine tabellarische Form, einen sog. **DataFrame** umwandeln und analysieren und anschließend mit **matplotlib** visualisieren.

### Beispielhaft könnte das so aussehen:

In [45]:
#Zunächst erstellen wir drei Listen mit gleich vielen Elementen - eine für Namen, eine für Alter und eine für Hobbies
#Jede Position in den Listen gehört logisch zusammen (z.B. Name, Alter und Hobby einer bestimmten Person)
#Der Einfachheit halber verwenden wir die Listen, die wir bereits erstellt haben:

names = ["Alex", "Giselle", "Can", "Amber", "Friedrich"] 
age = [24, 23, 26, 21, 29] 
hobby = ["Gaming", "Fußball", "Fußball", "Singen", "Lesen"]

#Nun bündeln wir die Listen in einem Dictionary - erstellen also Schlüssel-Wert-Paare. D.h. unser Dictionary besteht aus mehreren Listen,
#denen ein Schlüssel zugeordnet wird:
data = {"Name": names, "Alter": age, "Hobby": hobby}

#Jetzt können wir mit pandas einen DataFrane ersellen - eine tabellarische Struktur (ähnlich wie Excel)
#Die Spalten ergeben sich dabei aus den Schlüssel-Wert-Paaren:
df = pd.DataFrame(data)

#Jetzt lassen wir uns den DataFrame (df) ausgeben, das geht mit print(df) oder einfach mit "df"
df

        Name  Alter    Hobby
0       Alex     24   Gaming
1    Giselle     23  Fußball
2        Can     26  Fußball
3      Amber     21   Singen
4  Friedrich     29    Lesen

### Nun sind unsere Daten in einer sauberen tabellarischen Form unter der Variablen *df* abgespeichert

###  Man könnte nun z.B. die Funktion *sort_values()* von **pandas** verwenden, um die Daten nach den Werten einer bestimmten Spalte zu sortieren. In diesem Fall nehmen wir das Alter und lassen es absteigend sortieren:

In [46]:
df_sorted = df.sort_values(by="Alter", ascending=False)

### *by="Alter"* gibt an, aus welcher Spalte die Werte zur Sortierung entnommen werden sollen, *ascending=False* kehrt die Sortierung (ascending - aufsteigend) um, sodass das Alter absteigend sortiert wird. *ascending=True* würde die Werte aufsteigend sortieren. mit der Erstellung der neuen Variable *df_sorted* haben wir einen neuen DataFrame erstellt. Hätten wir einfach wieder die Variable *df* verwendet, hätten wir unseren ersten DataFrame überschrieben. Es ist wichtig, das im Hinterkopf zu behalten, um den ursprünglichen **DataFrame** oder bestimmte berarbeitete **DataFrames** zu erhalten, sofern das relevant für die eigene Datenverarbeitung ist. Unser neuer **DataFrame** sieht nun so aus:

In [47]:
df_sorted

        Name  Alter    Hobby
4  Friedrich     29    Lesen
2        Can     26  Fußball
0       Alex     24   Gaming
1    Giselle     23  Fußball
3      Amber     21   Singen

### Wir können über pandas auch .csv- oder .xlsx-Dateien, die wir normalerweise mit Excel öffnen würden einlesen und ebenfalls in einem DataFrame darstellen lassen, um mit den Daten zu arbeiten. z.B. so:

In [ ]:
df_stock =

### Die Datei enthält Zeitstempel und Kursveränderung einer Aktie zu bestimmten Zeitpunkten. Wenn wir bpsw. nur Daten für einen ganz bestimmten Zeitraum sehen wollen, können wir den **DataFrame** mit der Funktion *loc()* dementsprechend filtern und wieder in einen neuen **DataFrame** abspeichern: